@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

:root{
    color: #FFFFFF;
    color: #000000;
    color: #6A6A6A;
    color: #040000;
    color: #FF785B;
    color: #FBEDEA;
    color: #858C83;
}

@keyframes NewPage {
    0%{
        opacity: 0;
        transform: translateX(100vh);
    }
    100%{
        opacity: 1;
        transform: translateX(0vh);
    }
}
@keyframes OldPage {
    0%{
        opacity: 1;
        transform: translateX(0vh);
    
    }
    100%{
        opacity: 0;
        transform: translateX(100vh);
    }
}

.BodyWelcome{
    background: linear-gradient(180deg, #FFFFFF 30%, #040000);
    background-size: 100% 100%;
    height: 100vh;
    opacity: 0;
    animation: NewPage ease-out 0.7s forwards;
}


.container-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    box-sizing: border-box;
}

#logo{
    width: 200px;
}

.container-text-welcome{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.container-welcome h1{
    font-size: 30px;
    font-family: "Work-Sans", sans-serif;
    font-weight: 100px;
    color: #FFFFFF;
}

.container-welcome p{
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #FFFFFF;
}

.Button-ArrownRigth{
    font-size: 20px;
    width: 250px;
    padding: 15px 0px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 47px;
    color: #6A6A6A;
    transition: transform 0.2s ease-out;
}

.button-arrow-right:hover{
    transform: scale(1.04);
}

/*Sing In*/

.BodyLogin{
    background: linear-gradient(180deg, #FBEDEA, #FFFFFF);
    background-size: 100% 100%;
    height: 100vh;
    opacity: 0;
    animation: NewPage ease-out 0.7s forwards;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.logo img{
    width: 250px;
}

.SignIn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 65vh;
}

.SignIn form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.SignIn input{
    width: 300px;
    height: 25px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 47px;
    transition: all 0.3s ease-out;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #000000;
}

.SignIn input:hover,
.SignIn input:focus{
    box-shadow: 0px 0px 10px #FF785B;
}

.HidePassword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.fa-eye{
    position: absolute;
    margin: auto 0;
    right: 13px;
    cursor: pointer;
    color: #858C83;
}

.fa-eye-slash{
    position: absolute;
    margin: auto 0;
    right: 13px;
    cursor: pointer;
    color: #858C83;
}

@keyframes Open-Container {
    0%{
        transform: scale(0.0);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes Close-Container {
    0%{
        transform: scale(1.1);
    }
    100%{

        transform: scale(0.0);
    }
}

#Forgot {
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

#Forgot:hover{
    text-decoration: none;
}

.Button-SignIn{
    background-color: #FF785B;
    border: none;
    border-radius: 47px;
    padding: 10px 0px;
    width: 180px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.Button-SignIn:hover{
    transform: scale(1.04);
}

.SignIn p{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #000000;
}

.ContainerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FF785B;
    gap: 10px;
    padding: 0px 0px 20px 0px;
}

.ContainerIcons i{
    cursor: pointer;
}

.Up-Down{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
}

.Button-Up-Down{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 90%;
    height: 55px;
    border-radius: 47px 47px 0px 0px;
    background-color: #FF785B;
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

@keyframes up-button{
    0%{
        bottom: 10vh;
        width: 90%;
        background-color: #FF785B;
        color: #FEF9F9;
        font-size: 15px;
    }
    75%{
        bottom: 75vh;
    }
    100%{
        bottom: 65vh;
        width: 100%;
        background-color: #FEF9F9;
        color: #FF785B;
        font-size: 25px;
    }
}

@keyframes down-button{
    0%{
        width: 100%;
        height: 80px;
        bottom: 65vh;
        background-color: #FEF9F9;
        color: #FF785B;
        font-size: 25px;
    }
    100%{
        width: 90%;
        height: 55px;
        bottom: 0vh;
        background-color: #FF785B;
        color: #FEF9F9;
        font-size: 15px;
    }
}

.ContainerHTML{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    width: 360px;
    height: max-content;
    padding: 30px;
    padding-bottom: 70px;
    min-height: 350px;
    border-radius: 17px;
    box-shadow: -16px 16px 20px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    z-index: 1;
}

.ContainerText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContainerText-HTML h1{
    align-self: center;
    color: #000000;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.ContainerText-HTML h2{
    align-self: start;
    color: #6A6A6A;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.ContainerText-HTML span{
    align-self: start;
    color: #000000;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#ButtonClose-HTML{
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #FF785B;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    transition: box-shadow ease-out 0.3s;
    cursor: pointer;
}
#ButtonClose-HTML:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#Button-FixPassword{
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: max-content;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    transition: box-shadow ease-out 0.3s;
    cursor: pointer;
}

#Button-FixPassword:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/*Sing Up*/

@keyframes up-SignUp{
    0%{
        height: 10vh;
    }
    75%{
        height: 70vh;
    }
    100%{
        height: 60vh;
    }
}

@keyframes down-SignUp{
    0%{
        bottom: 0vh;
    }
    100%{
        bottom: -70vh;
    }
}

.SignUp{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    background-color: #FEF9F9;
    width: 100%;
    height: 60vh;
    padding: 20px 0px;
    border-top: 1px solid #858c833c;
    overflow: scroll;
}

.SignUp form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.SignUp input{
    width: 250px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 47px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    border: 1px solid #858C83;
}

.SignUp input:hover,
.SignUp input:focus{
    box-shadow: 0px 0px 10px #FF785B;
}

.SignUp p{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #000000;
}

.down-SignUp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.SignUp hr{
    width: 50px;
    height: 3px;
    background-color: #FF785B;
    border-radius: 47px;
}

.SignUp h1{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FF785B;
    padding: 0px 0px 20px 0px;
}

.Button-SignUp{
    width: 220px;
    padding: 15px 0px;
    border: none;
    border-radius: 47px;
    color: #FFFFFF;
    background-color: #FF785B;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: transform ease-out 0.2s;
}

.Button-SignUp:hover{
    transform: scale(1.04);
}

/*Forgot Password*/

.ModalForgot{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #fbedea55 , #000000f5);
    z-index: 2;
}

.ContainerForgot{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 90%;
    height: 250px;
    padding: 50px 0px;
    border: none;
    border-radius: 47px;
    position: relative;
}

.ContainerForgot h1{
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.ContainerForgot form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ContainerForgot input{
    text-align: center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.10);
    color: #6A6A6A;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ContainerForgot button{
    width: 50%;
    border: none;
    border-radius: 47px;
    text-align: center;
    padding: 10px 0px;
    color: #FFFFFF;
    background-color: #FF785B;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;   
    font-style: normal;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.ContainerForgot button:hover{
    transform: scale(1.09);
}

.ContainerForgot i{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ContainerCode{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 90%;
    height: 250px;
    padding: 50px 0px;
    border: none;
    border-radius: 47px;
    position: relative;
}

.ContainerCode h1{
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.ContainerCode p{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}

.ContainerCode form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.ContainerCode input{
    text-align: center;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.10);
    color: #6A6A6A;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ContainerCode button{
    width: 50%;
    border: none;
    border-radius: 47px;
    text-align: center;
    padding: 10px 0px;
    color: #FFFFFF;
    background-color: #FF785B;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;   
    font-style: normal;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.ContainerCode button:hover{
    transform: scale(1.09);
}

.ContainerCode a{
    font-size: 13px;
    font-family: "Work-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FF785B;
}

.Container-NewPassword{
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #FBEDEA;
    gap: 3em;
}

.img-new-password{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Container-NewPassword p{
    font-size: 15px;
    font-family: "Work-Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
}

.Container-NewPassword input{
    text-align: center;
}

.Container-NewPassword button{
    width: 70%;
    padding: 10px 0px;
    background-color: #FF785B;
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    border-radius: 47px;
    transition: transform ease-out 0.3s;
}

.Container-NewPassword button:hover{
    transform: scale(1.09);
}


/*Home*/



#BodyHome{
    width: 100vw;
    height: 100vh;
    background-color: #FF785B;
    opacity: 1;
    animation: NewPage ease-out 0.7s;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;    
}

#BodyHome::-webkit-scrollbar{
    display: none;
}

#HeaderHome{
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.fa-bars{
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.ContainerNavigation nav .Link1{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}

.ContainerNavigation nav .Link2{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
}

.ContainerNavigation nav .Link3{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.7s;
}

.ContainerNavigation nav .Link4{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.8s;
}

.ContainerBlur{
    display: none;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    z-index: 2;
    cursor: pointer;
}

.ContainerNavigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 35px;
    width: 60vw;
    height: 100%;
    background-color: #FF785B;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
    z-index: 1;
    cursor: default;
    box-sizing: border-box;
}

.ContainerNavigation h2{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}

.ContainerNavigation nav{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.ContainerLinks{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.ContainerLinks i{
    align-self: center;
    font-size: 23px;
    color: #ffffff;
    padding: 0px 10px;
}

.ContainerNavigation a{
    text-align: start;
    text-decoration: none;
    align-self: last stretch;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    cursor: pointer;
    transition: font-weight 0.1s ease-in-out;
    box-sizing: border-box;
}

.ContainerNavigation a:hover,
.ContainerNavigation a:active,
.ContainerNavigation a::selection{
    font-weight: 500;
}

.ContainerNavigation hr{
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border: none;
}

#IconClose{
    position: fixed;
    top: 50px;
    right: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

@keyframes Open-NavBar {
    from{
        left: -100vw;
        opacity: 0.5;
    }
    to{
        left: 0px;
        opacity: 1;
    }
}

@keyframes Close-NavBar {
    from{
        transform: translate(0vw);
        opacity: 1;
    }
    to{
        transform: translate(-100vw);
        opacity: 0.5;
    }
}

.fa-bag-shopping{
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.40);
    font-size: 25px;
    color: #000000;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.fa-bag-shopping:hover{
    transform: scale(1.09);
    box-shadow: none;
}



.ContainerProfile{
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 2;
    box-sizing: border-box;
}

.Tittle-Profile{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 80px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 12vh;
}

.Tittle-Profile i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.Tittle-Profile i:hover{
    transform: scale(1.09);
}

.Tittle-Profile h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.ContainerProfile hr{
    width: 95%;
    padding: 2px 0px;
    background-color: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 47px;
}

.PersonalData form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 90%;
    padding: 20px 30px;
    row-gap: 1em;
    box-sizing: border-box;
    position: relative;
}

.Data{
    position: relative;
}

.fa-pen-to-square{
    position: absolute;
    right: 25px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    align-self: center;
    color: rgba(0, 0, 0, 0.20);
    cursor: pointer;
    transition: color 0.3s ease-out;
}

.fa-pen-to-square:hover{
    color: #000000;
}

.Data input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 7px;
    padding: 12px 7px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: none;
}

.Button-SaveProfile:disabled{
    background-color: #FFB5A2;  
    cursor: not-allowed;       
    border: 1px solid #D3D3D3;
}

.Button-SaveProfile{
    width: 100px;
    padding: 8px 20px;
    position: absolute;
    bottom: -30px;
    right: -15px;
    color: #ffffff;
    background-color: #FF785B;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: disabled 0.3s ease-out;
    cursor: pointer;
}

.Iconslinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 4vh;
    right: 0px;
    left: 0px;
    margin: auto;
    gap: 1em;
}

.Iconslinks i{
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
    font-size: 25px;
    color: #858C83;
    transition: all ease-out 0.3s;
    cursor: pointer;
}

.Iconslinks i:hover{
    transform: scale(0.99);
    box-shadow: none;
}

.Container-WishList{
    display: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.Tittle-WishList{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    row-gap: 3px;
    margin-top: 9vh;
}

.Tittle-WishList i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.Tittle-WishList i:hover{
    transform: scale(1.09);
}

.Tittle-WishList h1{
    color: #000000;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Tittle-WishList p{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.Container-WishList hr{
    background-color: rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 47px;
}

.Scroll-Favourited{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    gap: 1em;
}

.Scroll-Favourited::-webkit-scrollbar{
    display: flex;
    height: 6px;
}

.Scroll-Favourited::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 47px;
}

.Scroll-Favourited::-webkit-scrollbar-thumb{
    background-color: #FF785B;
    border-radius: 47px;
    box-shadow: 0px 0px 8px #000000;
}

.Scroll-Favourited::-webkit-scrollbar-button{
    display: none;
}

.Container-Favourited{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    height: 320px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 17px;
}

.Img-WishList img{
    object-fit: cover;
    width: 300px;
    height: 180px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.Container-Information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    padding-left: 10px;
}

.Container-Information h1{
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.Container-Information p{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.Container-People-Favourited{
    width: 100px;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.20);
    border: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.Container-People-Favourited i{
    color: #ff0000;
}

#Price-WishList{
    color: #000000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-left: 10px;
    position: relative;
    left: -130px;
}

.Button-BuyNow{
    background-color: #FF785B;
    border: none;
    border-radius: 47px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: auto;
    padding: 7px 20px;
}

.ContainerPoints{
    display: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0px 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 2;
}

.Tittle-Points{
    margin-top: 10vh;
    width: 100%;
}

.Tittle-Points i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.Tittle-Points i:hover{
    transform: scale(1.09);
}

.Tittle-Points h1{
    color: #000000;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Tittle-Points p{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.ContainerPoints hr{
    width: 100%;
    padding: 2px 0px;
    background-color: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 47px;
}

.Text-Points{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    row-gap: 10px;
    text-align: center;
}

.Text-Points i{
    font-size: 185px;
    color: #FF785B;
}

.Text-Points h2{
    color: #000000;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.Text-Points p{
    color: #000000;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.Button-Points{
    padding: 8px 20px;
    border: none;
    border-radius: 47px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.30);
    background-color: #FF785B;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-out;
}

.Button-Points:hover{
    transform: scale(0.88);
    box-shadow: none;
}

.ContainerCart{
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #ffffff;
}

.ContainerCart hr{
    width: 100%;
    padding: 2px 0px;
    background-color: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 47px;
}

.Tittle-Cart{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 80px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 1.0vh;
    margin-left: 3vw;
}

.Tittle-Cart i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.Tittle-Cart i:hover{
    transform: scale(1.09);
}

.Tittle-Cart h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}


.ScrollCart{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#HrScrollCart{
    width: 90%;
    height: 0.1px;
    background-color: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 47px;
}

.ScrollCart::-webkit-scrollbar{
    width: 8px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 47px;
}

.ScrollCart::-webkit-scrollbar-thumb{
    background-color: #FF785B;
    border-radius: 47px;
}

.CartItems{
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    position: relative;
}

.Item{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 150px 1fr 1fr;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Item i{
    color: #FF785B;
    cursor: pointer;
}

.NameItem span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6A6A6A;
}

.Quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000000;
}

.Quantity span{
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 2px;
    padding: 0px 9px;
}

.Quantity i{
    color: #6A6A6A;
}

.PriceItem{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6A6A6A; 
}

.ContainerTotal{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.ContainerTotal span{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
}

.Total{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 7px 20px;
    box-sizing: border-box;
}

.VoucherCode{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 7px 20px;
    box-sizing: border-box;
}

.VoucherCode span{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FF785B;
}

.VoucherCode input{
    width: 70px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.40);
    border-radius: 3px;
    padding: 5px 7px;
    color: #858C83;
}

.VoucherCode input::placeholder{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
}

.ValueAddedTax{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 7px 20px;
    box-sizing: border-box;
}

.ValueAddedTax span{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
}


.SubTotal{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-color: #FF785B;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 7px 20px;
    box-sizing: border-box;
}

.SubTotal span{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.Button-BackShopping{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 7px 20px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.Button-BackShopping:hover{
    background-color: #0ff190;
}

.Button-Checkout{
    position: absolute;
    bottom: -6vh;
    padding: 6px 20px;
    background-color: #FF785B;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 27px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.40);
    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.Button-Checkout:hover{
    box-shadow: none;
}





.Container-TextHome{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;  
    padding: 0px 0px 40px 0px;
}

.Container-TextHome h1{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

.Container-TextHome p{
    width: 240px;
    font-size: 15px;
    font-family: "Work-Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: auto 0;
}

#welcomeMessage {
    display: none;
}

.Container-TextHome form{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container-TextHome input{
    width: 260px;   
    padding: 10px 20px;
    font-size: 15px;
    font-family: "Work-Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #858C83;
    text-align: start;
    outline: none;
    border: none;
    border-radius: 47px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.30);
    box-sizing: border-box;
}

.ContainerSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

#ButtonSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 13px;
    margin: auto 0;
    background-color: #ffffff;
    border-top: none;
    border-left: 2px solid #6A6A6A;
    border-right: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    transition: all ease-out 0.2s;
}

#ButtonSearch:hover{
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #FF785B;
    color: #FBEDEA;

}

.ContainerFoods{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px 0px;
}

.Food{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Food img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 17px;
}

.Image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Food h2{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
}

.Food span{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #6A6A6A;
}

#red-color{
    color: #ff0000;
}

.ContainerDescription2{
    display: none;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: #ffffff;
    /* background-color: rgba(0, 0, 0, 0.05); */
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    z-index: 3;
}

#IconClose-Description2{
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: #FF785B;
    color: #ffffff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

#IconClose-Description2:hover{
    transform: scale(1.09);
}

.Part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.Description{
    width: 230px;
}


.Description h2{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
}

.Description p{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #000000;
}

.Part2 h2{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
}

.Ingredients {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90px;
    padding: 10px 0px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
}

.Ingredients img{
    width: 100px;
    height: 60px;
    object-fit: cover;
}

.Ingredients::-webkit-scrollbar{
    display: flex;
    height: 6px;
}

.Ingredients::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 47px;
}

.Ingredients::-webkit-scrollbar-thumb{
    background-color: #FF785B;
    border-radius: 47px;
}

.Part3 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.Part3 h2{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #000000;
}

.Part3 select{
    width: 100%;
    height: max-content;
    padding: 7px 0px;
    border: 1px solid #FF785B;
    border-radius: 5px;
    color: #FF785B;
}

.Part4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #FF785B;
    padding: 10px 0px;
    border-radius: 7px;
}

.Part4 span{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.QuantityFood{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px;
    border-radius: 47px;
    border: 1px solid #ffffff;
    width: 100px;
}

.QuantityFood i{
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
}

.QuantityFood i:hover{
    background-color: #FFB5A2;
}

#Quantity span{
    font-size: 15px; 
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #ffffff;
}

#BagIcon{
    font-size: 15px;
    width: 20px;
    height: 20px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes Descriptions {
    0%{
        display: none;
        bottom: -100vh;
    }
    100%{
        display: flex;
        bottom: 0px;
        left: 0px;
    }
}

@keyframes Reverse-Descriptions {
    0%{
        display: flex;
        bottom: 0px;
        left: 0px;
    }
    100%{
        bottom: -100vh;
    }
}

@keyframes Image1 {
    0%{
        width: 100%;
        height: 250px;
        border-radius: 17px;
        position: static;
    }
    100%{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 45vh;
        max-height: 45vh;
        object-fit: cover;
        z-index: 3;
        border-radius: 0px;
    }
}

@keyframes Reverse-Image1 {
    0%{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        max-height: 45vh ;
        object-fit: cover;
        z-index: 3;
        height: max-content;
        border-radius: 0px;
    }
    100%{
        width: 100%;
        height: 250px;
        border-radius: 17px;
        position: static;
    }
}